@import "../../styles/variables";

.welcome-card-component {
   @extend %card-component;

   &-details {
      padding: 0.5rem;
      width: 90%;

      @media (min-width: $mobile) {
         padding: 1rem;
      }
   }
}
